.head,
.foot {
  padding: 10px;
  color: white;
  background-color: black;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 5px;
}
section {
  margin: 5px;
  padding: 10px;
  background-color: lightgrey;
}

article {
  margin: 5px;
  padding: 10px;
  background-color: white;
}
body {
  font-family: Verdana, sans-serif;
  font-size: 0.9em;
}
